.childrenData {
    position: relative;


}

.childrenData__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
}

.childrenData__childWrapper {
    margin: 0 0 10px;
}